language: java
jdk:
  - oraclejdk8
install:
 - sudo apt-get install python
 - sudo pip install awsebcli
before_script:
 - chmod +x build.sh
branches:
  only:
    - prod-deploy
script: ./build.sh
after_success:
  - echo "hello"