language: java
jdk:
  - oraclejdk8
install:
 - sudo apt-get install python2.7
 - sudo pip install awsebcli
before_script:
 - chmod +x build.sh
branches:
  only:
    - master
    - prod-deploy
    - staging-deploy
script: ./build.sh
after_success:
  - echo "hello"